/*==========================================================================Base styles: opinionated defaults==========================================================================*/
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* * Remove text-shadow in selection highlight: * https://twitter.com/miketaylr/status/12228805301 * * Vendor-prefixed and regular ::selection selectors cannot be combined: * https://stackoverflow.com/a/16982510/7133471 * * Customize the background color to match your design. */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* * A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* * Remove the gap between audio, canvas, iframes, * images, videos and the bottom of their containers: * https://github.com/h5bp/html5-boilerplate/issues/440 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* * Remove default fieldset styles. */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* * Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}

/*==========================================================================Browser Upgrade Prompt==========================================================================*/
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*==========================================================================Author's custom styles==========================================================================*/
/*==========================================================================Helper classes==========================================================================*/
/* * Hide visually and from screen readers */
.hidden {
    display: none !important;
}

/** Hide only visually, but have it available for screen readers:* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility** 1. For long content, line feeds are not interpreted as spaces and small width* causes content to wrap 1 word per line:* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe*/
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/** Extends the .sr-only class to allow the element* to be focusable when navigated to via the keyboard:* https://www.drupal.org/node/897638*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/** Hide visually and from screen readers, but maintain layout*/
.invisible {
    visibility: hidden;
}

/** Clearfix: contain floats** For modern browsers* 1. The space content is one way to avoid an Opera bug when the* `contenteditable` attribute is included anywhere else in the document.* Otherwise it causes space to appear at the top and bottom of elements* that receive the `clearfix` class.* 2. The use of `table` rather than `block` is only necessary if using* `:before` to contain the top-margins of child elements.*/
.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*==========================================================================EXAMPLE Media Queries for Responsive Design. These examples override the primary ('mobile first') styles. Modify as content requires.==========================================================================*/
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/*==========================================================================Print styles. Inlined to avoid the additional HTTP request: https://www.phpied.com/delay-loading-your-print-css/==========================================================================*/
@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /* * Don't show links that are fragment identifiers, * or use the `javascript:` pseudo protocol */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /* * Printing Tables: * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@font-face {
    font-family: 'helv-55';
    src: url('../fonts/helv-55.otf');
}

@font-face {
    font-family: 'helv-65';
    src: url('../fonts/helv-65.otf');
}

@font-face {
    font-family: 'helv-75';
    src: url('../fonts/helv-75.otf');
}

@font-face {
    font-family: 'helv-95';
    src: url('../fonts/helv-95.otf');
}

@font-face {
    font-family: 'kirovi';
    src: url('../fonts/gl-kirovi-bold.ttf');
}

@font-face {
    font-family: 'digital';
    src: url('../fonts/digital-7.ttf');
}

body {
    overflow-x: hidden;
}

@media (min-width: 1025px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1240px !important;
        min-width: 1025px;
    }
}

.si__style-pop .modal-content {
    padding: 30px;
    border: 2px solid #3285FF;
    border-radius: 20px;
    background-color: #2B305A;
}

.si__style-pop .close-btn {
    position: absolute;
    right: 25px;
    top: 20px;
    padding: 8px;
    cursor: pointer;
}

.si__style-pop nav {
    border-bottom: 2px solid #596479;
}
.si__style-pop nav a.default-module_item--active_2dOoK {
  color: #ffffff !important;
  border-color: #3285ff !important;
}

.si__style-pop nav a {
    background: none !important;
    border: none !important;
    padding: 0 0 12px;
    color: #596479;
    font-family: 'helv-65';
    position: relative;
    text-decoration: none;
    margin-right: 20px;
}

.si__style-pop nav a.default-module_item--active_2dOoK {
    color: #fff;
}

.si__style-pop nav a::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3285FF;
}

.si__style-pop nav a.default-module_item--active_2dOoK:after {
    content: '';
}

 

.si__style-pop form {
    margin-top: 20px;
}

.si__style-pop .input-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.si__style-pop .input-item .eye-icon {
    position: absolute;
    right: 15px;
    top: 42.5px;
    cursor: pointer;
}

.si__style-pop .input-item label {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-family: 'helv-65';
}

.si__style-pop .input-item input {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: none;
    background: #EDEEF0;
    padding-left: 15px;
    font-size: 14px;
    border: 2px solid transparent;
    color: #000;
    font-family: 'helv-65';
}

.si__style-pop .input-item input:focus {
    outline: none
}

.si__style-pop form .sb-button {
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 15px;
    background: #3285FF;
    font-family: 'helv-65';
    color: #fff;
    margin-top: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.si__style-pop form .sb-button:hover {
    opacity: 0.8;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.si__style-pop form button:focus {
    outline: none;
}

.si__style-pop form .info-text-row {
    text-align: center;
    margin-top: 25px;
    color: #fff;
    font-family: 'helv-65';
    font-size: 14px;
}

.si__style-pop form .info-text-row .socials a {
    margin: 0 5px;
}

.si__style-pop form .info-text-row a {
    color: #3285FF;
    text-decoration: underline;
}

.si__style-pop .input-item.error input {
    color: #FF0000;
    font-size: 14px;
    font-family: 'helv-65';
    border-color: #FF0000
}

.si__style-pop .input-item.error .error-txt {
    color: #FF0000;
    font-size: 12px;
    font-family: 'helv-65';
}

.si__style-pop .input-item.success input {
    color: #169825;
    font-size: 14px;
    font-family: 'helv-65';
    border-color: #169825
}

.si__style-pop .input-item.success input::placeholder {
    color: #BBBFCD;
}

.si__style-pop .input-item .sub-info-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 8px
}

.si__style-pop .input-item .sub-info-row .logwith-sms {
    color: #3285FF;
    font-size: 14px;
    font-family: 'helv-65';
    cursor: pointer
}

.si__style-pop .input-item .sub-info-row .save-pass {
    display: flex;
    align-items: center;
}

.si__style-pop .input-item .sub-info-row .save-pass .pretty.p-svg .state .svg {
    top: 0;
    width: calc(1em + 0px);
}

.si__style-pop .pretty .state label:after,
.si__style-pop .pretty .state label:before {
    top: 1px;
    border: none;
    background: #EDEEF0;
}

.si__style-pop .pretty input:checked~.state.p-success label:after,
.si__style-pop .pretty.p-toggle .state.p-success label:after {
    background-color: #3285ff !important;
}

.si__style-pop .input-item .sub-info-row .save-pass .pretty label span {
    display: inline;
    position: relative;
    left: 5px;
}

.pretty.p-curve .state label:after,
.pretty.p-curve .state label:before {
    border-radius: 30%;
}

.si__style-pop .input-item.db-item {
    width: calc(100% / 2 - 10px);
    margin-right: 20px;
    float: left;
}

.si__style-pop .choose-avatar {
    display: inline-block;
    width: 100%;
    margin-top: 0;
}

.si__style-pop .choose-avatar .label-item {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-family: 'helv-65';
    font-size: 14px;
    margin-bottom: 15px;
}

.si__style-pop .choose-avatar .avatar-item {
    width: 125px;
    float: left;
    display: flex;
    margin-right: 8px;
}

.si__style-pop .choose-avatar .avatar-item .avatar-img {
    width: 80px;
    height: 80px;
    background: #EDEEF0;
    border-radius: 15px;
}

.si__style-pop .choose-avatar .avatar-item .avatar-img .img-item {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

.si__style-pop .choose-avatar .avatar-item .pretty {
    display: flex;
    align-items: center;
    margin: 0;
}

.si__style-pop .choose-avatar .avatar-item .pretty input {
    cursor: pointer;
    width: 105px
}

.si__style-pop .choose-avatar .avatar-item .pretty .state {
    position: absolute;
    right: -30px;
}

.si__style-pop .choose-avatar .avatar-item .pretty .state svg {
    top: 1px
}

.si__style-pop .choose-avatar .avatar-item .pretty.p-svg input:checked~.avatar-img {
    background: #3285FF;
}

.si__style-pop .term-cond {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.si__style-pop .term-cond label span {
    position: relative;
    top: 0px;
    left: 7px;
    font-family: 'helv-65';
    color: #fff;
    font-size: 14px;
}

.si__style-pop .term-cond svg {
    top: 1px !important
}

.general-page-wrapper {
    display: inline-block;
    width: 100%;
    background: #1F2242;
    min-height: 100vh;
}

.general-page-wrapper .general-header-navbar {}

.general-page-wrapper .general-header-navbar .nav-bar-in {
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .lf-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .lf-side .logo {
    max-width: 165px;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .lf-side .logo h1 {
    margin: 0;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .lf-side .logo h1 img {
    max-width: 100%;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .menu-item {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .menu-item ul {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .menu-item ul li {
    margin: 0 8px;
    padding: 0;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .menu-item ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: helv-65;
}



.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .lang-switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 20px;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .lang-switcher ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .lang-switcher ol li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .lang-switcher ol li a {
    color: #fff;
    font-family: helv-65;
    font-size: 14px;
    text-decoration: none;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .lang-switcher ol li:after {
    content: "/";
    color: #fff;
    margin: 0 5px;
    font-weight: 700;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .lang-switcher ol li:last-child:after {
    content: none;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .release-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .release-btn .icon {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background: #2F82FC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .release-btn span {
    color: #fff;
    font-family: 'helv-65';
    font-size: 14px;
    display: inline-block;
    margin-left: 12px;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn {
    display: flex;
    align-items: center;
    margin-left: 28px;
    margin-right: 5px;
    position: relative;
}
.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .dropdown-Menu {
    position: absolute;
    top: calc(100% + 10px);
    background: #2B305A;
    z-index: 1;
    padding: 15px 25px;
    right: 0;
    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .dropdown-Menu.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .dropdown-Menu:before {
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #2b305a;
    position: absolute;
    top: -10px;
    right: 20px;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .dropdown-Menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .dropdown-Menu ul li {
    display: flex;
    align-items: center;
}
.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .dropdown-Menu ul li a {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #1f2242;
    width: 100%;
    color: #fff;
    font-family: 'helv-65';
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav
 .user-menu-btn .dropdown-Menu ul li a:hover {
    opacity: 0.8;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .dropdown-Menu ul li a svg {
    width: 35px;
}
.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .dropdown-Menu ul li a svg * {
    fill: #fff
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .icon {
    width: 40px;
    height: 40px;
    border: 2px solid #3285FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: relative;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .icon .notifications {
    position: absolute;
    background: #ffb400;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    border-radius: 15px;
    top: -3px;
    right: -6px;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .txt {
    color: #fff;
    font-family: 'helv-65';
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.general-page-wrapper .general-header-navbar .nav-bar-in .right-nav .user-menu-btn .txt .arrow {
    display: inline-block;
    margin-left: 5px;
}

.general-page-wrapper .page-content-wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.general-page-wrapper .page-content-wrapper .content-wrapper {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.general-page-wrapper .page-content-wrapper .content-wrapper .left-side {
    width: calc(100% - 325px);
    float: left;
}

.general-page-wrapper .page-content-wrapper .content-wrapper .right-side {
    width: 310px;
    float: right;
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
    background-color: #1F2242 !important;
    width: 10px !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    opacity: 1 !important;
}

.ps__thumb-y {
    width: 6px !important;
    background-color: #3083FD !important;
}


.si__style-pop .vm--modal {
    padding: 30px;
    border: 2px solid #3285FF;
    border-radius: 20px;
    background-color: #2B305A;
    height: auto !important;
    min-height: 300px;
}

.si__style-pop .vm--overlay {
    background: rgba(0, 0, 0, 0.5);
}

.si__style-pop .modal-content-item {
    display: inline-block;
    width: 100%
}

.si__style-pop .modal-content-item .modal-item-header {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.si__style-pop .modal-content-item .content-wrapper-item {
    display: inline-block;
    width: 100%
}

.si__style-pop .notification-header {
    margin-top: -25px;
    display: inline-block;
    width: 100%;
    position: relative;
    padding-bottom: 15px;
}
.si__style-pop .notification-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    height: 2px;
    background: #3285ff;
    width: calc(100% + 60px);
}

.si__style-pop .notification-header h5 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'helv-65';
    margin-bottom: 20px;
}

.si__style-pop .notification-header p {
    color: #fff;
    font-size: 14px;
    font-family: 'helv-65';
    text-align: center;
}

.si__style-pop .notification-body {
    display: inline-block;
    width: 100%;
}
.si__style-pop .modal-item-header .close-btn  {
    right: 0;
    top: -25px;
}
.si__style-pop .notification-body .countdown {
    width: 50%;
    float: left;
    padding: 30px;
    padding-bottom: 0;
}

.si__style-pop .notification-body .countdown h6 {
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-family: 'helv-65';
}

.si__style-pop .notification-body .countdown p .count-down-in {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
}

.si__style-pop .notification-body .countdown p .count-down-in .tm-item {
    color: #fff;
    font-size: 36px;
    font-family: "digital";
    min-width: 40px;
    position: relative;
    margin-right: 5px;
    text-align: center;
}
.si__style-pop .notification-body .countdown p .count-down-in .tm-item:after {
    content: ":";
    font-family: 'digital';
    position: absolute;
    right: -8px;
}
.si__style-pop .notification-body .countdown p {
    margin: 0;
    border: 2px solid #3083FD;
    padding: 15px;
    border-radius: 15px;
    margin-top: 35px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.si__style-pop .notification-body .countdown p .count-down-in .tm-item:last-child::after {
    content: none;
}
.si__style-pop .notification-body .countdown p .count-down-in .tm-item:last-child {
    margin: 0
}
.si__style-pop .notification-body .promo-code {
    width: 50%;
    float: right;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
}

.si__style-pop .notification-body .promo-code h6 {
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-family: 'helv-65';
}

.si__style-pop .notification-body .promo-code .code-box {
    width: 100%;
    height: 97px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-family: 'helv-65';
    color: #2A2F59;
    border-radius: 15px;
    margin-top: 10px;
}
.si__style-pop .congrats-content {
    margin-top: -25px;
    display: inline-block;
    width: 100%;
    position: relative;
    padding-bottom: 0;
}
.si__style-pop .congrats-content h5 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'helv-65';
    margin-bottom: 20px;
}
.si__style-pop .congrats-content .icon {
    text-align: center;
    margin-top: 4px;
    display: table;
    margin: 30px auto 15px;
}
.si__style-pop .congrats-content h3 {
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.si__style-pop .congrats-content p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'helv-65';
    margin-top: 15px;
}
.si__style-pop.promo-code-modal > .vm--modal {
    top: 30px !important; 
        height: calc(100vh - 60px) !important;
}
.si__style-pop.promo-code-modal .promo-code-content .pr-list .ps {
       height: calc(100vh - 255px) !important;
}

.mission-content .selected-category {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
  }
  .mission-content .selected-category .selected-cat-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .mission-content .selected-category .selected-cat-row .title-item {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-family: "helv-65";
  }
  .mission-content .selected-category .selected-cat-row .title-item .label {
    color: #2f82fc;
    font-size: 16px;
    margin-left: 10px;
    font-family: "helv-65";
  }
  .mission-content .selected-category .selected-cat-row .skip-tour {
    align-items: center;
    display: flex;
    color: #fff;
    font-family: "helv-65";
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
  }
  .mission-content .selected-category .selected-cat-row .skip-tour .icon {
    width: 40px;
    height: 40px;
    background: #3083fd;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .mission-content .selected-category .products-list {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
  }
  .mission-content .selected-category .products-list .product-item {
    height: 250px;
    background: #1f2242;
    width: calc(100% - 30px);
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .mission-content .selected-category .products-list .product-item .pr-image {
    width: 250px;
    float: left;
    position: relative;
    height: 100%;
    background: #fff;
  }
  .mission-content .selected-category .products-list .product-item .pr-image img {
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mission-content .selected-category .products-list .product-item .pr-info {
    width: calc(100% - 250px);
    float: right;
    padding: 15px;
    height: 250px;
    padding-left: 20px;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .pr-info
    .pr-details {
    width: 60%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .pr-info
    .pr-details
    h4 {
    color: #fff;
    font-size: 24px;
    font-family: "kirovi";
    margin: 0;
    line-height: 1;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .pr-info
    .pr-details
    .pr-specs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .pr-info
    .pr-details
    .pr-specs
    .spec-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .pr-info
    .pr-details
    .pr-specs
    .spec-item
    .label {
    color: #6a6d8b;
    font-size: 15px;
    font-family: "helv-65";
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .pr-info
    .pr-details
    .pr-specs
    .spec-item
    .value {
    color: #fff;
    font-size: 14px;
    font-family: "helv-65";
    margin-left: 5px;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .pr-info
    .pr-details
    .pr-specs
    .spec-item
    .value
    .coin {
    background-image: url("/img/coin.svg");
    width: 16px;
    height: 16px;
    background-size: contain;
    display: inline-block;
    background-position: center;
    position: relative;
    top: 3px;
    background-repeat: no-repeat;
  }
  
  .mission-content .selected-category .products-list .product-item .detail-btn {
    color: #3083fd;
    font-size: 16px;
    font-family: "helv-65";
    margin-top: 25px;
    cursor: pointer;
  }
  .mission-content .selected-category .products-list .product-item .other-info {
    width: 40%;
    float: right;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .other-info
    .promo-code {
    background: #fff;
    display: inline-flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 18px;
    float: right;
    align-items: center;
    height: 80px;
    margin-top: 16px;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .other-info
    .promo-code
    .label {
    color: #1f2242;
    font-size: 14px;
    font-family: "helv-65";
    line-height: normal;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .other-info
    .promo-code
    .value {
    color: #1f2242;
    font-size: 20px;
    font-weight: bold;
    font-family: "helv-65";
    line-height: normal;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .other-info
    .points {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-family: "helv-65";
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .other-info
    .points
    .point {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2b305a;
    border: 2px solid #3083fd;
    border-radius: 15px;
    margin-left: 15px;
  }
  .mission-content
    .selected-category
    .products-list
    .product-item
    .other-info
    .points
    .point
    .coin {
    background-image: url(/img/coin.svg);
    width: 16px;
    height: 16px;
    background-size: contain;
    display: inline-block;
    background-position: center;
    position: relative;
    top: 1px;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
  
  .rating-box {
    background: #2b305a;
    display: inline-block;
    width: 100%;
    padding: 25px;
    margin-top: 25px;
    border-radius: 15px;
    height: 565px;
  }
  .rating-box .title {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-family: "helv-65";
    font-size: 18px;
  }
  .rating-box .rating-list {
    display: inline-block;
    width: 100%;
  }
  .rating-box .rating-list .my-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    background: #3083fd;
    padding: 10px 30px;
    margin-left: -25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .rating-box .rating-list .my-rate .lf {
    display: flex;
    align-items: center;
  }
  .rating-box .rating-list .my-rate .lf .position {
    color: #fff;
    font-size: 14px;
    font-family: "helv-65";
  }
  .rating-box .rating-list .my-rate .lf .avatar {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
  .rating-box .rating-list .my-rate .lf .avatar .img {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 2px solid #fff;
  }
  .rating-box .rating-list .my-rate .lf .avatar .txt {
    color: #fff;
    font-size: 16px;
    font-family: "helv-65";
    margin-left: 15px;
  }
  .rating-box .rating-list .my-rate .points {
    color: #fff;
    font-size: 16px;
    font-family: "helv-65";
  }
  .rating-box .rating-list .others {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
  }
  .rating-box .rating-list .others .ps {
    height: 365px;
  }
  .rating-box .rating-list .others .user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: calc(100% - 30px);
  }
  .rating-box .rating-list .others .user-item .lf {
    display: flex;
    align-items: center;
  }
  .rating-box .rating-list .others .user-item .lf .position {
    color: #fff;
    font-size: 14px;
    font-family: "helv-65";
  }
  .rating-box .rating-list .others .user-item .lf .avatar {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .rating-box .rating-list .others .user-item .lf .avatar .img {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-right: 15px;
    border: 2px solid #1f2242;
    background-color: #fff;
  }
  .rating-box .rating-list .others .user-item .lf .avatar .txt {
    color: #6a6d8b;
    font-family: "helv-65";
    font-size: 16px;
  }
  .rating-box .rating-list .others .user-item .points {
    color: #fff;
    font-size: 14px;
    font-family: "helv-65";
  }
  
  @media (min-width: 1025px) and (max-width: 1200px) {
    .mission-content .selected-category .products-list .product-item .pr-info {
      width: calc(100% - 200px);
    }
    .mission-content .selected-category .products-list .product-item .pr-image {
      width: 200px;
    }
    .mission-content
      .selected-category
      .products-list
      .product-item
      .pr-info
      .pr-details
      .pr-specs
      .spec-item
      .label {
      font-size: 14px;
    }
  }
  
  .mission-content .ps {
    width: 100%;
    height: 405px;
  }
  .progress-banner {
    width: 100%;
    height: 310px;
    border-radius: 20px;
    position: relative;
    background-image: url(/img/progress-banner-bg.svg);
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .progress-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .progress-banner .step-buttons-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 10px;
  }
  .progress-banner .step-buttons-wrapper .step-button {
    width: 50px;
    float: left;
    background: #fff;
    height: 50px;
    display: flex;
    min-width: 50px;
    min-height: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-family: "helv-65";
    font-size: 16px;
    border: 3px solid transparent;
    position: relative;
    cursor: pointer;
  }
  .progress-banner .step-buttons-wrapper .step-button  svg {
    margin-left: 2px;
  }
  .progress-banner .step-buttons-wrapper .step-button.yell-bg {
    background: #ffb400;
    color: #fff;
    border: 2px solid #ffb400;
  }
  .progress-banner .step-buttons-wrapper .step-button.blue-bg {
    background: #3083fd;
    color: #fff;
  }
  .progress-banner .step-buttons-wrapper .step-button.with-arrow {
    border-color: #ffb400;
  }
  .progress-banner .step-buttons-wrapper .step-button.with-arrow::before {
    content: "";
    background-image: url(/img/arrows.svg);
    background-color: #ffb400;
    position: absolute;
    bottom: -30px;
    width: 32px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 6px;
    background-position: 10px 8px;
    transition: all 0.3s;
  }
  .progress-banner .step-buttons-wrapper .step-button:hover::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .progress-banner .step-buttons-wrapper .step-button .skip-missions {
    position: absolute;
    top: 62px;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    width: auto;
    background: #ffb400;
    border-radius: 15px;
    width: 225px;
    font-size: 14px;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    color: #fff;
  }
  .progress-banner
    .step-buttons-wrapper
    .step-button:nth-last-child(2)
    .skip-missions {
    right: 0;
    left: unset;
  }
  .progress-banner
    .step-buttons-wrapper
    .step-button:nth-last-child(2)
    .skip-missions:before {
    right: 15px;
    left: unset;
  }
  .progress-banner .step-buttons-wrapper .step-button:last-child .skip-missions {
    right: 0;
    left: unset;
  }
  .progress-banner
    .step-buttons-wrapper
    .step-button:last-child
    .skip-missions:before {
    right: 15px;
    left: unset;
  }
  .progress-banner .step-buttons-wrapper .step-button:hover .skip-missions {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }
  .progress-banner .step-buttons-wrapper .step-button .skip-missions::before {
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #ffb400;
    position: absolute;
    top: -10px;
    left: 15px;
  }
  .progress-banner .step-buttons-wrapper .step-button .skip-missions .icon {
    display: flex;
    min-width: 40px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
  }
  .progress-banner .step-buttons-wrapper .step-button .skip-missions .icon svg * {
    fill: #ffb400;
  }
  .progress-banner .progress-row {
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: calc(100% - 50px);
    background: #1f2242;
    border: 2px solid #333333;
    border-radius: 20px;
    height: 30px;
  }
  .progress-banner .progress-row .progress {
    position: absolute;
    height: 100%;
    background: #3184fe;
    border-radius: 25px;
    transition: all 0.3s;
  }
  .progress-banner .progress-row .status-box {
    position: absolute;
    background: #fff;
    width: 85px;
    height: 40px;
    bottom: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: all 0.3s;
  }
  .progress-banner .progress-row .status-box .coin {
    background-image: url("/img/coin.svg");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 3px;
  }
  .progress-banner .progress-row .status-box .amount {
    color: #1f2242;
    font-family: "helv-65";
    font-size: 16px;
  }
  .progress-banner .progress-row .moving-boy {
    background-image: url("/img/boy.svg");
    width: 135px;
    height: 135px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 35px;
  }
  .progress-banner .progress-row .moving-girl {
    background-image: url("/img/girl.svg");
    width: 135px;
    height: 135px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 35px;
  }
  .super-bonus {
    width: 100%;
    height: 310px;
    background: #3083fd;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .super-bonus::before {
    content: "";
    background-image: url("/img/large-star.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .super-bonus .txt-content {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
  .super-bonus .txt-content .sm-txt {
    color: #fff;
    font-size: 28px;
    font-family: "kirovi";
    line-height: 0.4;
  }
  .super-bonus .txt-content .amount-txt {
    color: #fff;
    font-size: 68px;
    line-height: normal;
    font-family: "kirovi";
    margin-left: 5px;
  }
  .super-bonus .txt-content .amount-txt span {
    font-size: 32px;
    position: relative;
    left: -5px;
  }
  .mission-box {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    background: #2c315b;
    border-radius: 15px;
    padding: 20px 25px;
    height: 655px;
  }
  
  .mission-box .mission-header {
    display: inline-block;
    width: 100%;
  }
  .mission-box .mission-header .lf {
    width: calc(100% - 300px);
    float: left;
    padding-right: 10px;
  }
  .mission-box .mission-header .lf .mission-step {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .mission-box .mission-header .lf .mission-step .step {
    width: 40px;
    height: 40px;
    background: #3083fd;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "helv-65";
    font-size: 16px;
  }
  .mission-box .mission-header .lf .mission-step span {
    display: inline-block;
    margin-left: 12px;
    font-family: "helv-65";
    color: #fff;
    font-size: 16px;
  }
  .mission-box .mission-header .lf p {
    color: #fff;
    font-size: 14px;
    font-family: "helv-65";
    line-height: 1.3;
  }
  .mission-box .mission-header .rg {
    display: flex;
    width: 300px;
    float: right;
  }
  .mission-box.start-mission .mission-header .rg {
    width: 205px;
  }
  .mission-box.start-mission .mission-header .lf {
    width: calc(100% - 205px);
  }
  .mission-box .mission-header .rg .start-mission-btn {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #3083fd;
    width: 190px;
    height: 75px;
    padding: 15px;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
  }
  .mission-box .mission-header .rg .start-mission-btn.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .mission-box .mission-header .rg .start-mission-btn .icon {
    width: 45px;
    height: 45px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }
  .mission-box .mission-header .rg .start-mission-btn .txt {
    color: #fff;
    font-family: "helv-65";
    font-size: 14px;
    margin-left: 15px;
  }
  
  .mission-box .mission-header .rg .countdown-box {
    width: 100%;
    height: 100px;
    border: 2px solid #3083fd;
    border-radius: 15px;
    display: flex;
    align-items: center;
  }
  .mission-box .mission-header .rg .countdown-box p {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }
  .mission-box .mission-header .rg .countdown-box p .time-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 15px;
    margin-right: 12px;
    margin-top: 17px;
  }
  .mission-box .mission-header .rg .countdown-box p .count-down-in {
    display: flex;
    align-items: center;
    width: 210px;
    justify-content: space-between;
    margin-left: 20px;
    padding-top: 8px;
  }
  .mission-box .mission-header .rg .countdown-box p .count-down-in .tm-item {
    color: #fff;
    font-size: 36px;
    font-family: "digital";
    min-width: 38px;
  }
  .mission-box
    .mission-header
    .rg
    .countdown-box
    p
    .count-down-in
    .tm-item
    .label {
    color: #fff;
    font-size: 14px;
    font-family: "helv-65";
  }
  
  .mission-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .mission-content .mission-item {
    width: calc(100% / 3 - 20px);
    float: left;
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 15px;
  }
 
  
  .mission-content .mission-item input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .mission-content .mission-item .mission-inner-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #1d2040;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    overflow: hidden;
  }
  .mission-content .mission-item .mission-inner-box .img-item {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 145px 0;
    opacity: 0.5;
    transition: all 0.3s;
  }
  .mission-content .mission-item .mission-inner-box .desc-info {
    position: absolute;
    bottom: 25px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }
  .mission-content .mission-item .mission-inner-box .desc-info h4 {
    font-family: "kirovi";
    color: #fff;
    font-size: 28px;
  }
  .mission-content .mission-item .mission-inner-box .desc-info .check-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
  }
  .mission-content
    .mission-item
    .mission-inner-box
    .desc-info
    .check-box
    .checker {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
  }
  
  .mission-content .mission-item .mission-inner-box .desc-info .check-box .label {
    display: inline-block;
    color: #fff;
    font-family: "helv-65";
    font-size: 16px;
    margin-left: 15px;
  }
  .mission-content .mission-item input:checked ~ .mission-inner-box {
    background: #3083fd;
    height: 100%;
    transition: all 0.3s;
  }
  .mission-content .mission-item input:checked ~ .mission-inner-box .img-item {
    opacity: 1;
    transition: all 0.3s;
  }
  
  .mission-content .mission-item:nth-child(3n + 1) .checker svg * {
    fill: #2f82fc;
  }
  .mission-content .mission-item:nth-child(3n + 2) .checker {
    background: #f94f61 !important;
  }
  .mission-content .mission-item:nth-child(3n + 3) .checker {
    background: #7020ff !important;
  }
  @media (min-width: 1025px) and (max-width: 1200px) {
    .general-page-wrapper .general-header-navbar .nav-bar-in .menu-item ul li a {
      font-size: 12px;
    }
  
    .general-page-wrapper .general-header-navbar .nav-bar-in .lf-side .logo {
      max-width: 120px;
    }
  
    .progress-banner .step-buttons-wrapper .step-button {
      min-width: 40px !important;
      min-height: 40px !important;
      height: 40px !important;
      width: 40px !important;
    }
  
    .progress-banner .step-buttons-wrapper .step-button.with-arrow::before {
      bottom: -26px !important;
      width: 24px !important;
      height: 27px !important;
      left: 5px !important;
      background-position: 6px 8px !important;
      background-size: 13px !important;
    }
    .progress-banner .step-buttons-wrapper .step-button .skip-missions {
      top: 53px !important;
      left: -7px !important;
    }
    .progress-banner .step-buttons-wrapper .step-button .skip-missions {
      width: 200px;
      font-size: 12px;
    }
  }
.mission-box.start-mission .ps {
    height: 495px;
  }

  .si__style-pop.RegLogModal .vm--modal{
    top: 30px !important;
    margin-bottom: 20px;
    width: 500px !important;
    left: 50% !important;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
  .si__style-pop.RegLogModal.vm--container {
    overflow-y: auto;
  }
  .si__style-pop.videoModal .close-btn {
    right: -22px;
    top: -45px;
  }
  .si__style-pop.videoModal .vm--modal {
    top: 50% !important;
    transform: translate(-50%, -50%);
    width: 55% !important;
    left: 50% !important;
    background: #000
  }